body{

font-family:Poppins;

background:linear-gradient(120deg,#ffecd2,#fcb69f);

margin:0;

}

.order-container{

max-width:700px;

margin:50px auto;

background:white;

padding:30px;

border-radius:10px;

box-shadow:0 10px 20px rgba(0,0,0,0.1);

}

.order-item{

display:flex;

align-items:center;

gap:15px;

background:#f5f5f5;

padding:10px;

border-radius:8px;

margin-bottom:10px;

}

.order-item img{

width:70px;

height:70px;

object-fit:cover;

border-radius:6px;

}

input,textarea{

width:100%;

padding:10px;

margin-top:10px;

border:1px solid #ccc;

border-radius:6px;

}

button{

margin-top:15px;

background:#ff7a18;

color:white;

border:none;

padding:12px;

width:100%;

border-radius:6px;

font-size:16px;

cursor:pointer;

}